.semaforo{
background-color: black;
display: inline-block;
text-align:center;
margin-top: 5%;
margin-left: 5%;
width: 10%;
height: 30%;
padding-top: 10px;
padding-bottom: 10px;
}
#red {
  display: flex;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  background:"red";
  border-color: #F32316;
  
}

#yellow {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: auto;
    background-color:"yellow";
    border-color: #F9E714;
    padding-top: 15px;
  }
    

#green {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      margin: auto;
      background-color:"green";
      border-color: #1BBB1D}

    


